version: '3.9'

volumes:
  db_data:
  grafana-storage:
  prometheus_data:
  setup:
  elasticsearch:

services:
  app:
    image: ghcr.io/alexbmj/minitwit:latest
    ports:
      - '3080:3080'
    env_file:
      - ./.env
    environment:
      - TZ=Europe/Copenhagen
    deploy:
      mode: replicated
      replicas: 3

  db:
    image: mongo:4.4.12
    ports:
      - '27017:27017'
    volumes:
      - db_data:/data/db
    env_file:
      - ./.env
    environment:
      - TZ=Europe/Copenhagen
    deploy:
      mode: global

  shepherd:
    image: mazzolino/shepherd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      IMAGE_AUTOCLEAN_LIMIT: 3
      IGNORELIST_SERVICES: 'minitwit_shepherd minitwit_db minitwit_prometheus minitwit_grafana minitwit_kibana minitwit_logstash minitwit_elasticsearch minitwit_elasticsearch_setup'
      TZ: Europe/Copenhagen
    deploy:
      placement:
        constraints:
          - node.role == manager

  prometheus:
    image: prom/prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - '9090:9090'
    deploy:
      mode: global

  grafana:
    image: grafana/grafana
    volumes:
      - grafana-storage:/var/lib/grafana
    ports:
      - '3000:3000'
    deploy:
      mode: global

  elasticsearch_setup:
    image: 'minitwit_elasticsearch_setup'
    init: true
    volumes:
      - setup:/state:Z
    env_file:
      - ./.env

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.1
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data:Z
    ports:
      - '9200:9200'
      - '9300:9300'
    environment:
      ES_JAVA_OPTS: -Xmx256m -Xms256m
      discovery.type: single-node
      cluster.name: docker-cluster
      network.host: '0.0.0.0'
      xpack.license.self_generated.type: basic
      xpack.security.enabled: 'false'
    env_file:
      - ./.env

  logstash:
    image: docker.elastic.co/logstash/logstash:8.1.1
    volumes:
      - ./config/logstash/pipeline:/usr/share/logstash/pipeline:ro,Z
    ports:
      - '5044:5044'
      - '5000:5000/tcp'
      - '5000:5000/udp'
      - '9600:9600'
    environment:
      LS_JAVA_OPTS: -Xmx256m -Xms256m
      http.host: '0.0.0.0'
    depends_on:
      - elasticsearch
    env_file:
      - ./.env

  kibana:
    image: docker.elastic.co/kibana/kibana:8.1.1
    ports:
      - '5601:5601'
    environment:
      server.name: kibana
      server.host: '0.0.0.0'
      elasticsearch.hosts: http://elasticsearch:9200
      monitoring.ui.container.elasticsearch.enabled: 'true'
      elasticsearch.username: kibana_system
    env_file:
      - ./.env
    depends_on:
      - logstash
