version: '3.9'

networks:
  main:
    name: main

services:
  app:
    build: .
    command: sh -c './wait-for db:27017 -- yarn run dev'
    restart: always
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
    env_file:
      - ./.env
    depends_on:
      - grafana
      - prometheus

  db:
    container_name: 'mongodb'
    restart: always
    image: mongo:4.4.12
    ports:
      - '27017:27017'
    env_file:
      - ./.env

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - '9090:9090'
    networks:
      - main

  grafana:
    image: grafana/grafana
    ports:
      - '4000:3000'
    networks:
      - main
