version: '3.9'

services:
  app:
    build: .
    command: sh -c './wait-for db:27017 -- yarn start'
    restart: always
    ports:
      - 3000:3000
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    container_name: 'mongodb'
    restart: always
    image: mongo:4.4.12
    ports:
      - '27017:27017'
    env_file:
      - ./.env
