@import './colors.scss'; /* stylelint-disable-line */

.auth {
  h2 {
    text-align: center;
    font-size: 35px;
    color: $white;
  }

  .error {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: $white;
    background-color: $red;
    margin-bottom: 15px;
  }

  form {
    label {
      margin-top: 20px;
      color: $white;
      margin-bottom: 5px;
    }

    .inputgroup {
      margin-top: 20px;
      width: 65%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }

    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border: none;
      border-radius: 5px;
    }

    button {
      width: 30%;
      display: block;
      padding: 10px;
      border: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      border-radius: 5px;
      background-color: $color1;
      color: $white;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .auth {
    .inputgroup {
      width: 100% !important;
    }

    button {
      width: 50% !important;
    }
  }
}
