@import './colors.scss';

.loadmoretweets {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: $color1;
  color: white;
}
