@import './colors.scss'; /* stylelint-disable-line */

.timeline {
  h2 {
    color: $white;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.followstatus {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color1;
  padding: 10px;
  border-radius: 5px;
  color: $white;
  margin-bottom: 10px;
  box-sizing: border-box;

  p {
    text-align: center;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
  }
}

.twitbox {
  margin-top: 15px;
  margin-bottom: 15px;

  h3 {
    text-align: center;
    color: $white;
  }

  form {
    margin-top: 10px;

    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
    }

    button {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 20%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      background-color: $color3;
      color: $white;
      cursor: pointer;
    }
  }
}

.messages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  li {
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    justify-content: row;
    align-items: center;
    flex-wrap: wrap;

    .image {
      width: 65px;
    }

    .messageimage {
      position: relative;
      height: 50px;
      width: 50px;
      margin-left: auto;
      margin-right: auto;

      img {
        border-radius: 5px;
      }
    }

    .messagecontent {
      width: calc(100% - 70px);
      box-sizing: border-box;
      display: block;
      margin-left: 5px;

      .username {
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 5px;
        display: block;

        a {
          text-decoration: none;
          color: $color2;
          display: block;
        }
      }

      .text {
        word-wrap: break-word;
        line-height: 1.25;
        display: block;
      }

      .date {
        margin-top: 5px;
        display: block;
        font-size: 12px;
      }
    }
  }
}
